@import url('https://fonts.googleapis.com/css?family=Risque');

body {

	background-image: url("../images/candy_img.jpg");
	background-repeat: no-repeat;
	font-family: helvetica, Arial, sans-serif;
}

#slogan {
	font-style: italic;
}

h1, p, h3, li {
	color: #10FFDB;
	font-family: 'Risque', cursive, helvetica, Arial, sans-serif;;
	
}

p {
	font-size: 1em;
	line-height: 1.5em;
	width: 30em;
}
